<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
  <iframe src="http://free.timeanddate.com/countdown/i6vqlv3p/n168/cf107/cm0/cu5/ct0/cs0/ca0/co1/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw700/szh295/tatBucki/tac000/tptTime%20since%20Event%20started%20in/tpc000/iso2020-01-01T00:00:00" allowTransparency="true" frameborder="0" width="700" height="295"></iframe>
  </li>
  </ul>
</div