<div class="gridster">
  <ul>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="prow_success_rate" data-view="Alert" data-threshold="75" data-title="Successrate (All)" data-suffix="%" data-addclass-danger="isTooLow">
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="prow_success_rate_post" data-view="Alert" data-threshold="75" data-title="Successrate (Postsubmit)" data-suffix="%" data-addclass-danger="isTooLow">
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="prow_success_rate_pre" data-view="Alert" data-threshold="75" data-title="Successrate (Presubmit)" data-suffix="%" data-addclass-danger="isTooLow">
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="prow_success_rate_periodic" data-view="Alert" data-threshold="75" data-title="Successrate (Periodic)" data-suffix="%" data-addclass-danger="isTooLow">
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="github_kyma_repos" data-view="Github" data-title="Github: Community Stats" style="background-color:#8bbabb;"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="github_incubator_repos" data-view="Github" data-title="Github: Community Stats" style="background-color:#8bbabb;"></div>
    </li>
  </ul>
</div>