<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="3">
      <div style="background-color: #8bbabb;" class="widget widget-comments dod">
        <h1 class="title" style="color: #464159;font-size: 50px; text-decoration: underline; text-decoration-style: double; font-weight: 630">Definition of Done for a User Story​</h1>
        <p style="color: #6c7b95;font-size: 30px; font-weight:600; font-style: italic"> The Code:</p>
        <p>
            <ul class="list-nostyle" style="color: #464159;font-size: 30px"> 
                <li>Passes automated code scans​</li>
                <li>follows agreed practices and process if introducing a breaking change​</li>
                <li>is accurately reflected in the documentation (new or update of existing)​</li>
                <li>is reviewed by at least one fellow​</li>
                <li>is clean of risky 3rd party and open-source components​</li>
                <li>respects the GDPR regulation when personal data are handled​</li>
                <li>implements necessary observability instruments (logging, monitoring and tracing) as applicable​</li>
                <li>is covered by automated tests accordingly to agreed strategy and all tests pass successfully​</li>
                <li>accepted by its stakeholders (e.g. Product Owner, Working Group, SIG)</li>
            </ul>
        </p>

        <p class="more-info" data-bind="moreinfo"></p>

        <p class="updated-at" data-bind="updatedAtMessage"></p>

      </div>
    </li>
  </ul>
</div>