<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="8" data-sizey="4">
      <div style="background-color: #ca9f44;color:#ff0000;" class="widget widget-comments dod">
        <h1 class="title">Definition of Done for a User Story​</h1>
        <p>The Code:</p>
        <p>
            <ul class="list-nostyle"> 
                <li>passes automated code scans​</li>
                <li>follows agreed practices and process if introducing a breaking change​</li>
                <li>is accurately reflected in the documentation (new or update of existing)​</li>
                <li>is reviewed by at least one fellow​</li>
                <li>is clean of risky 3rd party and open-source components​</li>
                <li>respects the GDPR regulation when personal data are handled​</li>
                <li>implements necessary observability instruments (logging, monitoring and tracing) as applicable​</li>
                <li>is covered by automated tests accordingly to agreed strategy and all tests pass successfully​</li>
                <li>accepted by its stakeholders (e.g. Product Owner, Working Group, SIG)</li>
            </ul>
        </p>

        <p class="more-info" data-bind="moreinfo"></p>

        <p class="updated-at" data-bind="updatedAtMessage"></p>

      </div>
    </li>
  </ul>
</div>