<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="github_user_repos" data-view="Github" data-title="Github: Community" style="background-color:#00afd7;"></div>
    </li>
  </ul>
</div>