<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-view="Image" data-image="/ken_01">
      </div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-view="Image" data-image="/ken_02">
      </div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-view="Image" data-image="/ken_03">
      </div>
    </li>
    <li data-row="3", data-col="1", data-sizex="6", data-sizey="1">
      <div data-view="Text" data-id="ken_quote">
    </li>
  </ul>
</div>