<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#72ccff;"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div style="background-color:#ffffff;" data-view="Image" data-image="/kyma_logo.png">
      </div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="website_visitors" data-view="Number" data-title="New Visitors" data-moreinfo="last 30 days" style="background-color:#0061ab;"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="website_returning_visitors" data-view="Number" data-title="Returning" data-moreinfo="last 30 days" style="background-color:#0061ab;"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="website_duration" data-view="Number" data-title="Avg. Duration" style="background-color:#0061ab;"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div style="background-color:#ffffff;" data-view="Image" data-image="/youtube">
      </div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="youtube_subscribers" data-view="Number" data-title="Subscribers" style="background-color:#e52d27;"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="youtube_views" data-view="Number" data-title="Views" style="background-color:#e52d27;"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="youtube_videos" data-view="Number" data-title="Videos" style="background-color:#e52d27;"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div style="background-color:#ffffff;" data-view="Image" data-image="/twitter">
      </div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="twitter_followers" data-view="Number" data-title="Followers" data-moreinfo="last 30 days" style="background-color:#38a4ff;"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="twitter_tweets" data-view="Number" data-title="Tweets" data-moreinfo="last 30 days" style="background-color:#38a4ff;"></div>
    </li>
    
  </ul>
</div>