<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="Munich" data-view="Forecast" data-widget_title="<img src='http://forecast.io/favicon.ico' />Weather Forecast"> ></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="Gliwice" data-view="Forecast" data-widget_title="<img src='http://forecast.io/favicon.ico' />Weather Forecast"> ></div>
    </li>
  </ul> 
</div
